:global {
    // global style here
    .logo-spin {
        animation: App-logo-spin infinite 3s linear;
    }

    @keyframes App-logo-spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

.logo {
    width: 180px;
}
.panel {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
    background-color: #fff;
}

body {
    background-color: ghostwhite !important;
}
